html{
    scroll-behavior: smooth;
    scroll-padding-top: 20px
    ;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #F3DED7;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color:#F3DED7;
    direction: rtl;
}
nav a{
    text-decoration: none;
    color: #7a5c58;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;

    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-left:20px ;
}
#home{
    min-height: 90vh;
    background-image:url('hero.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
}
.hero-button{
    position: absolute;
    bottom: 19%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}
.hero-button a{
    text-decoration: none;
    background-color: rgb(178,121, 133);
    color:white;
    width:130px;
 padding: 6px 18px;
    display:flex;
  justify-content: center;
  align-items:center;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    position: absolute;
    left: 50%;
    text-align: center;
    color: #7b4b53;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;

}
.logo h1{
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0;
    line-height: 1.1;
}
.logo span{
    font-size: 11px;
    letter-spacing: 6px;
    display: block;
    margin-top: 2px;
    font-weight: 300;
}
#shop{
    scroll-margin-top: 20px;
    padding: 60px 20px;
    text-align: center;
    background-color: #F3DED7;

}

#accessories{
    margin-top: 20px;
}

#accessories h2{
    font-family: 'Times New Roman', Times, serif;
    color: #7b4b53;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}

.category{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.category a{
    text-decoration: none;
    color: #7a5c58;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    transition: color 0.3s ease;
}

.category a:hover{
    color: #b27985;
}
#earrings{
    padding: 60px 20px;
    text-align: center;
}
#earrings h2{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color:  #7b4b53;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
#earrings{
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   gap: 20px;
   background-color : #F3DED7;
}
#earrings h2{
    width:100%;
}
#earrings .product-card{
    width: 28%;
  
}
#earrings .product-card img{
   width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.5s ease;
}
#earrings .product-card img:hover{
    transform: scale(1.03);
}
#earrings .product-card p{
    color:#7b4b53;
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
#earrings .product-card button{
    background-color: #b27985;
    color:white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.5s ease;
}
#earrings .product-card button:hover{
    background-color: #9e6270;
}
#necklaces{
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #F3DED7 ;
}
#necklaces h2{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #7b4b53;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
#necklaces .product-card{
    width: 28%;
}
#necklaces .product-card img{
      width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.5s ease;
}
#necklaces .product-card img:hover{
    transform: scale(1.03);

}
#necklaces .product-card p{
    color:#7b4b53;
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
#necklaces .product-card button{
    background-color: #b27985;
    color:white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.5s ease;
}
#necklaces .product-card button:hover{
    background-color: #9e6270;
}
#bracelets{
    padding: 60px 20px;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   background-color: #F3DED7;
}
#bracelets h2{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 400;
    color:#7b4b53;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
#bracelets .product-card{
    width: 28%;
}
#bracelets .product-card img{
      width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.5s ease;
}


#bracelets .product-card img:hover{
    transform: scale(1.03);
}
#bracelets .product-card p{
    color:#7b4b53;
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
#bracelets .product-card button{
    background-color: #b27985;
    color:white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.5s ease;
}
#bracelets .product-card button:hover{
    background-color: #9e6270;
}


#rings{
    padding: 60px 20px;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   background-color: #F3DED7;
}
#rings h2{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 400;
    color:#7b4b53;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
#rings .product-card{
    width: 28%;
}
#rings .product-card img{
      width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.5s ease;
}
#rings .product-card img:hover{
    transform: scale(1.03);
}
#rings .product-card p{
    color:#7b4b53;
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
#rings .product-card button{
    background-color: #b27985;
    color:white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.5s ease;
}
#rings .product-card button:hover{
    background-color: #9e6270;
}
#watches{
    padding: 60px 20px;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   background-color: #F3DED7;
}
#watches h2{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 400;
    color:#7b4b53;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
#watches .product-card{
    width: 28%;
}
#watches .product-card img{
      width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.5s ease;
}
#watches .product-card img:hover{
    transform: scale(1.03);
}
#watches .product-card p{
    color:#7b4b53;
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
#watches .product-card button{
    background-color: #b27985;
    color:white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.5s ease;
}
#watches .product-card button:hover{
    background-color: #9e6270;
}
#bags{
    padding: 60px 20px;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   background-color: #F3DED7;
}
#bags h2{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 400;
    color:#7b4b53;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
#bags .product-card{
    width: 28%;
}
#bags .product-card img{
      width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.5s ease;
}
#bags .product-card img:hover{
    transform: scale(1.03);
}
#bags .product-card p{
    color:#7b4b53;
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
#bags .product-card button{
    background-color: #b27985;
    color:white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.5s ease;
}
#bags .product-card button:hover{
    background-color: #9e6270;
}
#perfumes{
    padding: 60px 20px;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   background-color: #F3DED7;
}
#perfumes h2{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 400;
    color:#7b4b53;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
#perfumes .product-card{
    width: 28%;
}
#perfumes .product-card img{
      width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.5s ease;
}
#perfumes .product-card img:hover{
    transform: scale(1.03);
}
#perfumes .product-card p{
    color:#7b4b53;
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
#perfumes .product-card button{
    background-color: #b27985;
    color:white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.5s ease;
}
#perfumes .product-card button:hover{
    background-color: #9e6270;
}
footer{
    background-color: #F3DED7;
    text-align: center;
    padding: 30px 20px;
    color: #7b4b53;
}
footer p{
    font-size: 13px;
    margin: 6px 0;
}
.final-message{
    text-align: center;
    padding: 30px 20px;
    color: #7b4b53;
    background-color: #F3DED7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
@media(max-width:768px) {
       #home{
        min-height: 100vw;
        background-size: 100% 100%;
        background-position: center;
        background-color: #F3DED7;
    }
    .hero-button{
        width: 90%;
        gap:8px
    }
    .hero-button a{
        width: 110px;
        padding: 8px 10px;
        font-size: 13px;
    }
    .product-card{
        width: 45% !important;
    }
    nav{
        padding: 12px 20px;
    }
    .links{
        width:100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        direction: ltr;
    }
    nav a{
        margin-left: 0;
        font-size: 12px;
    }
}
@media(min-width:769px)and(max-width:1024px){
    .hero-button{
        width: 90%;
        gap:8px
    }
    .hero-button a{
        width: 110px;
        padding: 8px 10px;
        font-size: 13px;
    }
    .product-card{
        width: 30% !important;
    }
    nav{
        padding: 12px 20px;
    }
    .links{
        width:100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        direction: ltr;
    }
    nav a{
        margin-left: 0;
        font-size: 12px;
    }
}




